.mahmoud{
    border-radius: 30px !important;
.photo{
    max-width: 120px;
    max-height: 100px ;
    border-radius: 30px;
    @media (max-width: 440px) {
      width: 75px;
      height: 70px;
    }
}
.txt{
    font-size: 28px;
    @media (max-width: 420px) {
        font-size: 20px;
    }
}
.sub-txt{
    font-size: 14px;
    font-weight: 400;
}
}