@import "./variables";

.section-cont {
    padding: $sectionPadding;
}

h2 {
    font-weight: 700  !important;
    color: $congressBlue;
    text-align: center;
}
p {
    font-size: 18px;
    font-weight: 400;
}
.bttn {
    cursor: pointer;
}
.bttn-primary{
   background-color:  $congressBlue  !important ;
}
.img-gallery {
    height: 400px;
}
.img-doc {
    height: 300px;
    width: 200px;
}
.btn-margin {
    margin-left: 30%;
}
.coverBtn{


}