$sectionPadding: 40px 0;
$font300: 300;
$font400: 400;
$font700: 700;
$congressBlue: #034c81;
$dodgerBlue: #2ca3fa;
$cornflowerBlue: #5ba2f4;
$osloGray: #7f858c;
$coralReef: #c9bbaa;
$white: #ffffff;
