@import "./global";
@import "./variables";

// COLORS
$primary-color: #034c81;
$secondary-color: #2ca3fa;
$light-blue-color: #5ba2f4;
$white-color: #ffffff;
$gray-color: #7f858c;
$bag-color: #c9bbaa;
// general style
.App {
  font-family: Roboto;
}
p {
  font-size: 16px;
  font-weight: 400;
  color: $gray-color;
}
h1 {
  font-size: 70px;
  font-weight: 700;
  color: $gray-color;
}
// start navbar
.navb {
  background: $light-blue-color;
  a {
    color: $white-color;
  }
  button span {
    background: #ffffff;
    color: black;
  }
}
// end navbar
// start header
.head {
  background-image: url("../images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  .container {
    padding-top: 100px;
    h2,
    p .icon {
      color: red;
    }
  }
}
// end header
// start search box
.search-box {
  border: 2px solid $primary-color;
  padding: 50px;
  margin: 40px 0;
}
.search-form {
  border: 1px solid $gray-color;
  padding: 10px;
  .search-icons {
    color: $light-blue-color;
  }
}

// end search box
// start Selling
.selling {
  margin: 50px 0;
}

// end Selling
// start Card
.img-icon {
  width: fit-content;
  display: block;
  margin-bottom: 18px;
}
//end Card
// start Booking
.booking {
  padding: 50px 20px;
}
// end Booking
// start Contact Us
.form {
  border-right: 1px solid $gray-color;
  .form-inputs {
    margin-bottom: 0.5rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form-input {
      display: inline-block;
      padding-left: 10px;
      outline: none;
      border-radius: 2px;
      width: 70%;
    }
    .form-input::placeholder {
      color: #595959;
      font-size: 12px;
    }
    .form-label {
      display: inline-block;
      font-size: 0.8rem;
      margin-bottom: 6px;
      color: #000;
      .star {
        color: red;
      }
    }
  }
  .form-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
  }

  .form-input-btn {
    width: 20%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: red;
    outline: none;
    border: none;
    color: $white-color;
    font-size: 1rem;
  }
  p {
    font-weight: 400;
  }
}
.call-us {
  p {
    font-weight: 400;
  }
}
// end Contact Us
//start footer
footer {
  background: $light-blue-color;
  color: $white-color;
}
// end footer
